body {
	background-color: #878787;
	text-align: center;
}

#floater {
	height: 50%;
	margin-bottom: -200px;
}

.content {
	position: relative;
	height: 400px;
	top: 50px;
}

.text {
	font-family: "Permanent Marker", sans;
	color: #FFEE38;
}

.derpy {
	max-height: 300px;
	height: auto;
	width: auto;
}
