<a href="{url}" target="_blank">
	<div class="flip-container">
		<div class="flipper">
			<div class="{b_class} front">
				<img src="/pictures/{icon}"/>
				<p>{front}</p>
			</div>
			<div class="{b_class} back">
				<p>{message}</p>
			</div>
		</div>
	</div>
</a>